<a href="https://colab.research.google.com/github/kayal466/Task-7-DW-26/blob/main/DataPreprocessing_Assignment11_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Data.csv

**Step 1: Importing the libraries**

In [ ]:

import pandas as pd

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

**Step 2: Importing dataset**

In [ ]:
df=pd.read_csv("/content/Data.csv")
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    10 non-null     object
 1   Age        9 non-null      float64
 2   Salary     9 non-null      float64
 3   Purchased  10 non-null     object
dtypes: float64(2), object(2)
memory usage: 448.0+ bytes

**Step 3: Handling the missing data**

In [ ]:
df.isnull().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

As the missing data is very less so we can drop the missing values.

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.isnull().sum()

Country      0
Age          0
Salary       0
Purchased    0
dtype: int64

**Step 4: Encoding categorical data**

In [ ]:
df["Purchased"]=df["Purchased"].map({"Yes":1,"No":0})
df

   Country   Age   Salary  Purchased
0   France  44.0  72000.0          0
1    Spain  27.0  48000.0          1
2  Germany  30.0  54000.0          0
3    Spain  38.0  61000.0          0
5   France  35.0  58000.0          1
7   France  48.0  79000.0          1
8  Germany  50.0  83000.0          0
9   France  37.0  67000.0          1

**Step 5: Creating a dummy variable**

In [ ]:
pd.get_dummies(df["Age"])

   27.0  30.0  35.0  37.0  38.0  44.0  48.0  50.0
0     0     0     0     0     0     1     0     0
1     1     0     0     0     0     0     0     0
2     0     1     0     0     0     0     0     0
3     0     0     0     0     1     0     0     0
5     0     0     1     0     0     0     0     0
7     0     0     0     0     0     0     1     0
8     0     0     0     0     0     0     0     1
9     0     0     0     1     0     0     0     0

In [ ]:
pd.get_dummies(df["Salary"])

   48000.0  54000.0  58000.0  61000.0  67000.0  72000.0  79000.0  83000.0
0        0        0        0        0        0        1        0        0
1        1        0        0        0        0        0        0        0
2        0        1        0        0        0        0        0        0
3        0        0        0        1        0        0        0        0
5        0        0        1        0        0        0        0        0
7        0        0        0        0        0        0        1        0
8        0        0        0        0        0        0        0        1
9        0        0        0        0        1        0        0        0

In [ ]:
df.Age.value_counts()

44.0    1
27.0    1
30.0    1
38.0    1
35.0    1
48.0    1
50.0    1
37.0    1
Name: Age, dtype: int64

**Step 6: Splitting the datasets into training sets and Test sets**

In [ ]:
x=df[["Age","Salary"]]
y=df["Purchased"]

In [ ]:
x

    Age   Salary
0  44.0  72000.0
1  27.0  48000.0
2  30.0  54000.0
3  38.0  61000.0
5  35.0  58000.0
7  48.0  79000.0
8  50.0  83000.0
9  37.0  67000.0

In [ ]:
y

0    0
1    1
2    0
3    0
5    1
7    1
8    0
9    1
Name: Purchased, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20)

In [ ]:
x_train.shape,y_train.shape,x_test.shape,y_test.shape

((6, 2), (6,), (2, 2), (2,))

**Step 7: Feature Scaling**

**Scaling**

In [ ]:
from sklearn import preprocessing

In [ ]:
min_max_scaler=preprocessing.MinMaxScaler(feature_range=(0,1))

In [ ]:
x1=min_max_scaler.fit_transform(x)

In [ ]:
x1

array([[0.73913043, 0.68571429],
       [0.        , 0.        ],
       [0.13043478, 0.17142857],
       [0.47826087, 0.37142857],
       [0.34782609, 0.28571429],
       [0.91304348, 0.88571429],
       [1.        , 1.        ],
       [0.43478261, 0.54285714]])

**Standardisation**

In [ ]:
standardisation=preprocessing.StandardScaler()

In [ ]:
x2=standardisation.fit_transform(x)

In [ ]:
x2

array([[ 0.69985807,  0.58989097],
       [-1.51364653, -1.50749915],
       [-1.12302807, -0.98315162],
       [-0.08137885, -0.37141284],
       [-0.47199731, -0.6335866 ],
       [ 1.22068269,  1.20162976],
       [ 1.48109499,  1.55119478],
       [-0.211585  ,  0.1529347 ]])