<a href="https://colab.research.google.com/github/kayal466/Task-7-DW-26/blob/main/DW26_KNN_Assignment13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Social_Networks_Ads.csv

**Importing the libraries**

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

**Importing the dataset**

In [ ]:
df=pd.read_csv("/content/Social_Network_Ads.csv")
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [ ]:
df.drop("User ID",axis=1,inplace=True)
df

     Gender  Age  EstimatedSalary  Purchased
0      Male   19            19000          0
1      Male   35            20000          0
2    Female   26            43000          0
3    Female   27            57000          0
4      Male   19            76000          0
..      ...  ...              ...        ...
395  Female   46            41000          1
396    Male   51            23000          1
397  Female   50            20000          1
398    Male   36            33000          0
399  Female   49            36000          1

[400 rows x 4 columns]

**Splitting the dataset into the Training set and Test set**

In [ ]:
df["Gender"]=df["Gender"].map({"Male":0,"Female":1})
df

     Gender  Age  EstimatedSalary  Purchased
0         0   19            19000          0
1         0   35            20000          0
2         1   26            43000          0
3         1   27            57000          0
4         0   19            76000          0
..      ...  ...              ...        ...
395       1   46            41000          1
396       0   51            23000          1
397       1   50            20000          1
398       0   36            33000          0
399       1   49            36000          1

[400 rows x 4 columns]

In [ ]:
x=df.iloc[:,:3]
x

     Gender  Age  EstimatedSalary
0         0   19            19000
1         0   35            20000
2         1   26            43000
3         1   27            57000
4         0   19            76000
..      ...  ...              ...
395       1   46            41000
396       0   51            23000
397       1   50            20000
398       0   36            33000
399       1   49            36000

[400 rows x 3 columns]

In [ ]:
y=df["Purchased"]
y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split 
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20)
x_train.shape,y_train.shape,x_test.shape,y_test.shape

((320, 3), (320,), (80, 3), (80,))

**Feature Scaling**

In [ ]:
from sklearn import preprocessing
standardisation=preprocessing.StandardScaler()
x2=standardisation.fit_transform(x)

**Fitting K-NN to the Training set**

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knnclf = KNeighborsClassifier(n_neighbors=4)
knnclf.fit(x_train,y_train)
print(knnclf.score(x_test,y_test))

0.7875

**Predicting the Test set results**

In [ ]:
y_predict_en = knnclf.predict(x_test)
y_predict_en

array([1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0,
       1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1,
       0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0])

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_predict_en)

0.7875

**Making the Confusion Matrix**

In [ ]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics._plot.confusion_matrix import confusion_matrix
cm = confusion_matrix(y_test,y_predict_en)
cm

array([[46,  4],
       [13, 17]])

In [ ]:
from sklearn.metrics import classification_report
from sklearn.metrics import classification_report
print(classification_report(y_test, y_predict_en))

              precision    recall  f1-score   support

           0       0.78      0.92      0.84        50
           1       0.81      0.57      0.67        30

    accuracy                           0.79        80
   macro avg       0.79      0.74      0.76        80
weighted avg       0.79      0.79      0.78        80